* {
	margin: 0;
	padding: 0;
}

body {
	font: 62.5% Tahoma, sans-serif;
	background: url(images/stripe.png) repeat;
}

p {
	font-size: 1.5em;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #990000;
}

#page-wrap {
	width: 780px;
	margin: 0 auto;
	background: white;
}

#menu {
	padding-top: 20px;
	float:left;
    width:100%;
    line-height:normal;
	background: url(images/menu_bg.gif) bottom repeat-x;
	}
	#menu ul {
		margin:0;
		padding:10px 10px 0;
		list-style:none;
		max-width: 770px;
		}
		#menu ul li {
			float: left;
			background: url(images/right.gif) right top no-repeat;
			text-align: center;
			overflow: hidden;
			margin-left: 5px;
			}
			#menu ul li a {
				display: block;
				background: url(images/left.gif) left top no-repeat;
				padding: 10px 20px 6px 20px;
				font-size: 1.5em;
				font-weight: bold;
				color: #999;
			}
			#menu ul li a:hover {
				color: #990000;
			}
			#menu ul li#current {
				background: url(images/right_cur.gif) right top no-repeat;
			}
			#menu ul li#current a {
				background: url(images/left_cur.gif) left top no-repeat;
				padding-bottom: 8px;
			}
			
#main-content {
	padding: 20px;
	background: url(images/bg.gif) bottom center no-repeat white;
	}
	#main-content ul {
		margin-left: 25px;
		margin-bottom: 10px;
	}
	#main-content ul li {
		font-size: 1.5em;
	}
